.images {
  width: 100%;
}
#work__experience {
  background-image: url("./images/About/about-section.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  h1 {
    display: flex;
    align-items: center;
    height: 50vh;
    max-width: 65%;
    margin: 0 auto;
    padding-left: 145px;
    color: #05274c;
    font-size: 3rem;
    font-weight: 700;
  }
  @media screen and (max-width: 576px) {
    h1 {
      padding-left: 100px;
      font-size: 1.5rem;
      max-width: 95%;
      /* height: 40vh; */
    }
  }
}
.section__ {
  background: #f9fdff;
  padding: 4rem 0;
}
.card{

  border-color: #B0CAF0 ;
  box-shadow: 0.2px 0.5px  0.5px 0.5px #bfd9ff ;
  
}
.ideaimage{
  margin-left: -8%;
  width:15%;
  height: 20%;
}
.header {
  margin-top: 4em;
  .header__text {
    font-family: "Sans";
    font-size: 2.25rem;
    font-weight: 700;
    color: #1a1a1a;
    padding-bottom: 1rem;
  }
  button {
    padding: 0.5rem 3rem;
    width: 50%;
    outline: none;
    border-style: none;
    border-radius: 50px;
    background: #2762bf;
    color: white;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .check-right {
    width: 5%;
  }
  @media screen and (max-width: 576px) {
    .header__text {
      font-size: 1.5rem;
    }
  }
}
