* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 24px;
  letter-spacing: 0em;
  color: #67676a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.course-d .details-card {
  padding: 24px 24px 40px 24px;
  border-radius: 16px;
  border: 1px solid #eeeeef;
  box-shadow: 0px 2px 10px 0px #0000000d;
}

.course-d .details-card .icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.course-d .details-card .icon .name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #363636;
}

.course-d .details-card .icon:last-child {
  margin-bottom: unset;
}

.course-d .accordion {
  padding: 24px 46px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 1px 5px 0px #0000001a;
  margin-top: 56px;
  width: 85%;
  margin: 0 auto;
}

.course-d .accordion-item {
  border: none;
}

.course-d .line {
  height: 1px;
  background: #cdcdd0;
  width: 95%;
  margin: 0 auto;
}

.course-d .accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}

.course-d .accordion-button:not(.collapsed) {
  background-color: unset;
  box-shadow: unset;
}

.course-d .accordion-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #363636;
}

.course-d .accordion-button::after {
  color: #363636;
}

.modal-header img {
  cursor: pointer;
}

a {
  text-decoration: none;
}

main {
  position: relative;
  z-index: 10;
  background-color: #fff;
}

.scroll-to-top {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: #05274c;
  box-shadow: 0px 20px 60px 0px #00000066;
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 1000;
  right: 19px;
  bottom: 100px;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: -70px;
}

nav {
  position: relative;
  z-index: 10;
}

.btn {
  border-radius: 50px;
  background: #2762bf;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  padding: 8px 24px;
}

.swiper-button-next,
.swiper-button-prev {
  width: unset;
  position: unset;
}

.btn:hover {
  border: 1px solid #3375d9;
  color: #2762bf !important;
  background: transparent !important;
}

.btn-trans {
  border: 1px solid #3375d9;
  color: #2762bf;
  background: transparent !important;
}

.btn-trans:hover {
  background: #2762bf !important;
  color: #fff !important;
}

.title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #1a1a1a;
}

.title p {
  margin: 16px;
}

#navbar .btn,
.modal-footer .btn {
  all: unset;
  height: 8px;
  padding: 8px 32px;
  border-radius: 50px;
  border: 1px solid #2762bf;
  background: #2762bf;
  color: #fff;
}

#navbar .btn-trans {
  background: transparent !important;
  color: #2762bf;
}

#navbar .btn-trans:hover {
  background: #2762bf !important;
  color: #fff !important;
}

#navbar {
  background: #e9f2ff;
  box-shadow: 0px 1px 2px 0px #0000000d;
  font-weight: 500;
}

.nav-item .active {
  color: #0063f7 !important;
}

#navbar .nav-link:hover,
#navbar .dropdown-menu a:hover {
  background: unset !important;
  color: #0063f7 !important;
}

#navbar .nav-item {
  color: #1a1a1a;
  margin: auto;
}

#navbar a {
  padding-right: 8px;
}

#navbar .dropdown-menu {
  padding: 12px;
  border: none !important;
  border-radius: 8px;
  box-shadow: 0px 10px 38px -5px #0000001a;
  background: #fff;
  color: #3e3e3e;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}

#navbar .refer {
  padding-right: 10px;
  position: relative;
}

#navbar .refer a {
  background-image: linear-gradient(90deg, #2f2c9f 0%, #b745ca 100%) !important;
  /* Adjust colors as needed */
  -webkit-background-clip: text;
  /* For Safari */
  background-clip: text;
  color: transparent;
}

#navbar .refer img {
  position: absolute;
  right: 0;
  top: 10px;
}

#navbar .border-left {
  border-left: 1px solid #dddee0;
  margin-left: 12px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.modal-content {
  padding: 18px 20px !important;
  border-radius: 16px;
  border: 1px;
}

.modal-header {
  border-bottom: none !important;
  padding: unset;
  padding: 0 20px;
}

.modal-header h4 {
  font-weight: 600;
  line-height: 36px;
  color: #1a1a1a;
}

.modal-footer {
  all: unset;
}

.modal-footer .btn {
  height: 25px;
  width: 80%;
}

.form-control:focus {
  border-color: none;
  box-shadow: unset;
}

#myModal textarea {
  height: 113px;
  resize: none;
}

.page-header {
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9f2ff !important;
  position: relative;
  z-index: 2;
}

.page-header h1 {
  color: #05274c;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

#hero-sec {
  background: linear-gradient(
    180.26deg,
    #e9f2ff 0.25%,
    #f6f9ff 89.18%,
    rgba(246, 249, 255, 0) 108.7%
  );
}

.course-details {
  background: #e9f2ff !important;
  padding-top: 64px;
  padding-bottom: 80px;
}

.course-details .container {
  position: relative;
}

.gap-10 {
  gap: 6rem;
}

.container h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #1a1a1a;
}

.container .lead {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.course-d p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.course-details .container .elipse {
  position: absolute;
  top: 5px;
  right: -40px;
}

#hero-sec h2 {
  color: #1a1a1a;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

#hero-sec p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}

.pencil {
  margin-bottom: -35px;
  margin-left: -10px;
}

#choose,
#tech-session {
  background: #f9fdff;
}

#choose .title,
.digital__career .title {
  position: relative;
}

#choose .title img,
.digital__career .title img {
  position: absolute;
  top: 0;
  right: 0;
}

#choose .features {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #363636;
}

#choose .box {
  background: #ffffff;
  border: 1px solid #eeeeef;
  padding: 40px 31px 41px 30px;
  border-radius: 24px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}

#choose .box h4 {
  color: #363636;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

#courses {
  padding: 60px 0;
}

#courses h2 {
  margin-bottom: 48px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 52px;
  margin-top: 4rem;
}

.course {
  padding: unset;
  border-radius: 16px;
  box-shadow: 0px 2px 10px 0px #0000001a;
  position: relative;
}

.course .btn {
  width: unset !important;
}

#courses .course-info .text h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #05274c;
}

#courses .course-info .text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 19.53px;
}

.course .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 0; */
  padding: 23px 16px;
  background: linear-gradient(
    6.62deg,
    #05274c 64.99%,
    rgba(5, 39, 76, 0) 94.46%
  );
  display: none;
  transition: all 0.5s ease-in;
}

.course .overlay-content {
  color: #fff;
}

.course .overlay-content a:last-child {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-decoration: none;
  color: #85abeb;
  margin-left: 10px;
}

.course .overlay-content h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.course .overlay-content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 19.53px;
}

.course:hover .overlay {
  display: flex;
  /* height: 80%; */
}

.course-d .box__section .box {
  box-shadow: 0px 3px 10px 0px #0000001a;
  padding: 64px 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-d .box__section .box__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: #363636;
}

.course-d .benefits {
  position: relative;
}

.course-d .benefits .box__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 52px;
  margin-top: 4rem;
}

.course-d .benefits .box__section .box .box__title p {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #363636;
  margin-top: 32px;
}

.course-d .detail-plus {
  position: absolute;
  top: 0;
  right: 0;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 56px auto;
  background: #f9fdff;
  border: 1px solid #dddee0;
  box-shadow: 0px 2px 10px 0px #abccff1a;
}

th,
td {
  text-align: center;
  padding: 15px;
  border: 1px solid #cdcdd0;
}

th {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

td {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #363636;
}

.learning__objective .box__title p {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

#tech-session {
  padding-top: 64px;
  padding-bottom: 34px;
}

#refer {
  padding: 64px 0;
}

#refer h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #1a1a1a;
  margin-bottom: 20px;
}

#refer .count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  background: #d4d4d8;
  opacity: 0.2px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  border-radius: 50%;
  color: #05274c;
}

#refer h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #1a1a1a;
}

.d-testimonial {
  background: #f5f5f5 !important;
  padding: 100px 0 82px;
}

#refer p {
  color: #52525b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.border-30 {
  border-radius: 30px;
}

#testimonial {
  padding: 64px 0;
  position: relative;
}

#testimonial .container {
  position: relative;
}

#testimonial .container .d-flex .img {
  height: 60px;
  align-self: center;
}

#testimonial .pattern1 {
  position: absolute;
  left: 65px;
  top: 110px;
}

#testimonial .pattern2 {
  position: absolute;
  right: 70px;
  bottom: 0px;
}

#testimonial .testimonials {
  border-radius: 48px 0 48px 0;
}

#testimonial .testimonial {
  background: white;
  padding: 70px 48px;
  gap: 48px;
  border-radius: 48px 0 48px 0;
  box-shadow: 0px 25px 50px -12px #0053d00d;
  margin-left: 0;
  margin-right: 0;
}

#testimonial .testimonial h3 {
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin: 24px 0;
}

#testimonial .testimonial p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#testimonial .testimonial span {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #1a1a1a;
}

#blog {
  padding: 128px 0;
  background: #f8f8f8;
}

.w-80 {
  width: 80%;
}

.payment-page {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding-top: 20%;
  padding-bottom: 20%;
}

.font-weight {
  font-weight: 700;
}

.agile {
  max-width: 60%;
  margin-top: 10px;
}

.agile img {
  width: 25%;
  border-radius: 10%;
}

.flex-container p {
  text-align: center;
}

.flex-container button {
  background-color: #2762bf;
  font-size: small;
  border: 0;
  border-radius: 20px;
}

#footer {
  background: #05274c;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

#hero {
  position: relative;
  height: 319px;
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./images/blod1del.png);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./images/blod1del.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  align-items: center;
  padding-top: 10%;
}

#footer .border-tb {
  border-top: 1px solid #586e87;
  border-bottom: 1px solid #586e87;
  padding: 32px 0;
}

#footer .mb-8 {
  margin-bottom: 52px;
}

#footer .social-icon a {
  all: unset;
}

#footer h5 {
  font-size: 20px;
  font-weight: 700;
}

.cont {
  border-bottom: 1px solid #cdcdd0;
}

#hero2 {
  background: #e9f2ff;
  width: 100%;
  text-align: center;
  color: #3c2770;
  height: 319px;
  align-items: center;
  font-weight: 900;
}

#hero2 h3 {
  font-weight: lighter;
}

.blog {
  background: url(images/blogbg.png) !important;
  background-position: center top;
}

.blog-role {
  background: url(images/rolebg.png) !important;
  background-position: center bottom;
}

.blog h1 {
  color: #f5f5f5;
}

.blog-main {
  background: #f7f9fe;
}

.blog-main .col-md-5 h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #05274c;
}

.blog-main .date {
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  color: #71717a;
}

.blog-main .col-md-5 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #363636;
  margin: 24px 0 32px;
}

.blog-main .popular-posts .heading {
  border-bottom: 1px solid #dfdfdf;
}

.blog-main .popular-posts h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  color: #363636;
}

.blog-main .posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 47px;
  margin-top: 4rem;
}

.blog-main .posts .post {
  position: relative;
  border: 1px solid #eeeeef;
  background: #fff;
  box-shadow: 0px 4px 6px -2px #0000000d;
  border-radius: 8px;
}

.blog-main .post .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 23px 16px;
  background: rgba(24, 24, 27, 0.6);
  display: none;
  transition: all 0.5s ease-in;
}

.blog-main .post:hover .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
  height: 60%;
}

.blog-main .posts .post img {
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.blog-main .posts .post .text {
  padding: 24px;
}

.blog-main .posts .post h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #05274c;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.blog-main .posts .post p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #52525b;
}

.blog-details .py-3 {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #646464;
}

#hero3 {
  position: relative;
  height: 319px;
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(images/Hero\ Section.png);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(images/Hero\ Section.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f5f5f5;
  text-align: center;
  align-items: center;
  padding-top: 10%;
  position: relative;
}

#hero3 div {
  width: 50%;
  position: absolute;
  left: 30%;
  top: 10%;
}

#hero3 h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 68px;
}

#hero3 p {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
}

.ripple-effect {
  position: absolute;
  left: 60%;
  width: 40%;
}

.ellipse1 {
  position: absolute;

  left: 45%;
  place-self: center;
}

.ellipse2 {
  position: absolute;
  top: 330px;
  left: -2%;
}

.ellipses {
  position: absolute;
  right: 0%;
  bottom: -275px;
}

#hero2 div span .ellipse-textprivacy {
  position: absolute;
  margin-top: 30px;
  left: 42%;
}

#hero2 div span .ellipse-textcontact {
  position: absolute;
  margin-top: 30px;
  left: 43%;
}

#hero2 div span .ellipse-textterms {
  position: absolute;
  margin-top: 30px;
  left: 38%;
}

#hero2 div span .ellipse-textfaq {
  position: absolute;
  margin-top: 30px;
  left: 46.5%;
}

.contactus .row {
  display: flex;
  justify-content: space-between;
}

.custom-box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.custom-box-shadow form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-box-shadow .form-container button {
  border-radius: 30px;
  background-color: #2762bf;
  border: 0;
}

.border-none {
  border: 0;
  background-color: #efefef;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 12' fill='%23212529'%3e%3cpath d='M4 0l4 4H0l4-4z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 8px 12px;
}

.form-container .form-group label {
  color: #363636;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.contact-form img {
  height: 10%;
  margin-top: 15px;
}

.list-item .active {
  color: #3a36a3;
}

.social-icons {
  width: 50%;
}

.contact-texts {
  color: #05274c;
}

.icon-container {
  background-color: #080557;
  border-radius: 20px;
}

.refer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.refer-container .join {
  width: 40%;
}

.refer-container .join h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  background: #d4d4d8;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  border-radius: 50%;
  color: #05274c;
}

.join h6 {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.faqs {
  background-color: #fcfcfc;
}

.faqs .card {
  background: #f8f8f8;
}

.faqs .card .card-header {
  background-color: unset;
}

.card .font-bold {
  color: #363636;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.refer1 {
  width: 60%;
  margin-left: 10%;
  margin-left: 0;
  object-fit: cover;
}

.refer-2 {
  margin-left: -5%;
}

.refer2 {
  width: 100%;
  height: 50%;
}

.terms-cons {
  text-align: center;
  align-self: center;
  place-content: center;
}

.faq-modal {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mail-icon {
  margin-top: 2.5em;
}

.collapse-btn {
  border-radius: 25px;
  place-self: baseline;
}

.collapse-button:after {
  content: "x";
  color: #bfc2c7;
  font-weight: 500;
  font-size: 22px;
}

.collapsed .collapse-button:after {
  content: "+";
  font-size: 25px;
}

#accordion2 {
  border: 0;
}

.idea1 {
  height: 5em;
}

.buttons {
  background-color: #2762bf;
  border-radius: 25px;
  border: 0;
}

.gap-6 {
  gap: 40px;
}

.swiper-pagination-bullet {
  background-color: transparent;
  opacity: 1;
  width: 20px;
  height: 20px;
  border: 1px solid #dddee0;
}

.swiper-pagination-bullet-active {
  background-color: #2762bf;
}

.privacy .content h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.privacy .content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.privacy .content .font-bold {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #1a1a1a;
}

.privacy ol li {
  margin: 12px 0;
}

.privacy ol li a {
  font-size: 16px !important;
  font-weight: 600;
  line-height: 24px;
  color: #abacb1;
  text-decoration: none;
}

.privacy ol li.active,
.privacy ol li a.active {
  color: #05274c !important;
}

.page-header .elipse {
  margin-left: 15px;
  top: 38%;
}

.contact .elipse {
  margin-left: -60px;
}

.page-header .elipse2 {
  position: absolute;
  bottom: -45px;
  left: 40px;
}

.page-header .elipse3 {
  position: absolute;
  bottom: -50px;
  left: 40px;
  width: 150px;
  height: 50px;
  background: white;
  z-index: 8;
}

.page-header .elipse4 {
  position: absolute;
  top: -30px;
  right: 10px;
}

.page-header .ripple {
  position: absolute;
  right: 0;
}

.learning__objective,
.course-schedule {
  background: #f9fdff;
}

.course-schedule .schedule-plus {
  position: absolute;
  left: 0;
  top: 0;
}

#pricing {
  position: relative;
  background: #052345;
  color: #fff;
  padding: 100px 0;
}

#pricing h2 {
  color: #fff;
}

.payment-options {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 48px 80px;
  gap: 48px;
  border-radius: 16px;
}

.btn-container button {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: #fff;
  color: #363636;
  height: 40px;
  padding: 8px 32px;
  border-radius: 8px;
  border: 1px;
  cursor: pointer;
}

.btn-container button.active {
  background: #05274c;
  color: #fff;
}

.btn-container {
  background: #f5f5f5;
  padding: 8px;
  border-radius: 16px;
  text-align: center;
}

.payment-plan h3 {
  color: #67676a;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 24px;
}

.payment-plan p {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #2762bf;
}

.payment-plan .price {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #27272a;
}

.payment-plan {
  display: none;
  border: 1px solid #e6eefc;
  box-shadow: 0px 4px 38px 0px #0053d00d;
  padding: 48px 0;
  text-align: center;
}

.payment-plan.active {
  display: block;
}

.contact {
  padding: 46px 48px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #eeeeef;
  box-shadow: 0px 5px 20px 0px #0000001a;
}

.contact label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #363636;
  margin-bottom: 7px;
}

form input,
form select {
  background: #f5f5f5;
  border-radius: 8px;
  height: 56px;
}

form button {
  width: 216px;
  margin-top: 38px;
}

.text-muted {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #67676a !important;
}

.contactus .font-bold {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #05274c;
}

.collapse-btn {
  border-radius: 20px;
  font-size: 5px;
  padding: 5px 10px;
}

.about .elipse {
  margin-left: -35px;
}

.work-ex .elipse {
  margin-left: -120px;
}

.mb-56 {
  margin-bottom: 40px;
}

.story p {
  font-weight: 400;
  line-height: 30px;
}

.experience h3 {
  font-size: 48px;
  font-weight: 800;
  line-height: 72px;
  background-image: linear-gradient(180deg, #0551a5 0%, #002246 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.experience span {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.experience p {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #2762bf;
}

.payment-page,
.refer-earn {
  position: unset !important;
}

/* Personality Test Pop up */
.personality-test {
  width: 260px;
  height: 446px;
  border-radius: 9.03px;
  position: absolute;
  top: 170px;
  right: 22px;
  z-index: 999;
}
.personality-test img{
  border-radius: unset;
}
.personality-test .pt-card {
  background: #fff;
  border: 0.56px solid #DDDEE0;
  box-shadow: 0px 25px 40px 5px #00000026;
  position: relative;
  margin-bottom: 13px;
  display: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.pt-card.visible {
  display: block;
  opacity: 1;
}

.personality-test .idea {
  position: absolute;
  right: -10px;
  cursor: pointer;
}
.personality-test .pt-text {
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
      background-image: linear-gradient(49.36deg, #2D47D0 10.7%, #6D0D8E 79.84%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}
.personality-test .pt-card .cancel {
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
}
.personality-test .pt-card .content {
  padding: 19px;
}
.personality-test .pt-card .content h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 22.5px;
  color: #1a1a1a;
}
.personality-test .pt-card .content p {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #363636;
}

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 22px;
  z-index: 999;
}
.whatsapp button {
  background: #05A660;
  box-shadow: 0px 12px 10px 20px #0000001A;
}
.whatsapp .btn:hover {
  border-color: #05A660 !important;
  color: #05A660 !important;
}
/* MEDIA QUERIES FOR MOBILE & TABLETS */

@media (max-width: 1000.98px) {
  .popular-posts {
    display: flex;
    flex-direction: column;
  }

  .popular-posts figure {
    width: 80%;
    height: 20%;
    place-self: center;
  }

  .tech-roles li {
    margin-top: 10px;
  }

  main {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
  }

  #courses .content {
    display: flex;
    flex-direction: column;
  }

  #courses form {
    width: 80vw;
  }

  #courses figure {
    width: 80vw;
    margin-top: 20%;
  }

  .privacy ol {
    display: none;
  }

  .privacy .content {
    width: 100%;
    padding-left: 5px;
  }

  .custom-box-shadow {
    margin-top: 20%;
  }

  .refer-container .join {
    width: 100%;
    padding-left: 5%;
  }

  .refer-container figure {
    margin-top: 5em;
  }

  .faq-modal h6 {
    font-size: 15px;
  }

  .contact-form img {
    display: none;
  }

  .idea1 {
    display: none;
  }

  .contactus .row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .social-icons {
    width: 100%;
  }
}

#pricing .container {
  position: relative;
}

#pricing .pellipse {
  position: absolute;
  top: -25px;
  left: 0;
}

#pricing .pellipse2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

#pricing .patterns {
  position: absolute;
  top: 50%;
  left: 95px;
}

@media (max-width: 768.98px) {
  .contact {
    padding: 15px;
  }

  .course-d .accordion {
    padding: unset;
  }

  #testimonial .d-flex {
    flex-direction: unset !important;
    gap: 10px !important;
  }

  #testimonial .testimonial {
    padding: unset;
    gap: unset;
  }

  #testimonial .img {
    display: none;
  }

  #testimonial .col-lg-6 {
    text-align: center !important;
  }

  #testimonial .col-lg-6 p,
  #testimonial .col-lg-6 span {
    display: block;
    text-align: left !important;
  }

  #testimonial .pattern1,
  #testimonial .pattern2 {
    width: 68px;
  }

  #testimonial .pattern2 {
    right: 25px;
    bottom: -10px;
  }

  #testimonial .pattern1 {
    left: 10px;
    top: 75px;
  }

  .ellipse1 {
    position: absolute;
    left: 40%;
    place-self: center;
  }

  .ellipse2 {
    position: absolute;
    top: 330px;
    left: -2%;
  }

  .ellipse3 {
    position: absolute;
    right: 0%;
    bottom: 110px;
  }

  #hero2 div span .ellipse-textprivacy {
    position: absolute;
    margin-top: 30px;
    left: 35%;
  }

  #hero2 div span .ellipse-textcontact {
    position: absolute;
    margin-top: 30px;
    left: 38%;
  }

  #hero2 div span .ellipse-textterms {
    position: absolute;
    margin-top: 30px;
    left: 30%;
  }

  #hero2 div span .ellipse-textfaq {
    position: absolute;
    margin-top: 30px;
    left: 46%;
    /* line-height: 30px; */
  }

  #hero3 {
    height: 346px;
  }

  #hero3 h2 {
    font-size: 22px;
    line-height: 30px;
  }

  #hero3 p {
    font-size: 16px;
    line-height: 20px;
  }

  #hero3 p br {
    display: none;
  }

  .d-flex {
    flex-direction: column !important;
  }

  .contactus .d-flex {
    flex-direction: unset !important;
  }

  #choose .d-flex {
    flex-direction: row !important;
  }

  #blog .d-flex img {
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 28px !important;
    line-height: 34px !important;
  }

  .reverse {
    flex-direction: column-reverse !important;
  }

  #choose .col-lg-4 {
    margin-bottom: 15px;
  }

  .page-header {
    height: 266px;
  }

  .page-header h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
  }

  .contact .elipse {
    margin-left: -30px;
    top: 40%;
  }

  .about .elipse {
    margin-left: -10px;
    top: 41%;
  }

  .work-ex .elipse {
    margin-left: -85px;
  }

  .faq-modal .d-flex {
    flex-direction: unset !important;
  }

  .faq-modal h6 {
    margin-top: unset !important;
    margin-bottom: unset !important;
  }

  .card-body {
    padding: 15px !important;
  }

  br {
    display: none;
  }

  .experience div {
    margin-bottom: 100px;
  }

  #footer .d-flex,
  .refer-earn .d-flex {
    flex-direction: unset !important;
  }

  .mx-3 {
    margin-right: unset !important;
    margin-left: unset !important;
    margin-top: 15px;
  }

  .lead {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  #pricing .patterns {
    width: 66px;
    position: absolute;
    top: 220px;
    left: 110px;
  }

  .payment-options {
    width: 100%;
    padding: unset;
  }

  table {
    width: 100%;
  }

  .btn-container button:last-child {
    margin-top: 10px;
  }

  .last-content {
    margin-bottom: 50px !important;
  }
}

@media only screen and (max-width: 520px) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 10px;
  }

  table td {
    border-bottom: none;
    display: block;
    text-align: left;
  }

  p,
  li {
    font-size: 16px !important;
  }

  p.font-bold {
    font-size: 20px !important;
    font-weight: 600;
    line-height: 33px;
    color: #363636;
  }

  .btn {
    width: unset !important;
  }

  .blog-main .col-md-5 h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .scroll-to-top {
    width: 60px;
    height: 60px;
  }
}

/* Feedback Changes */

.course img {
  border-radius: 16px 16px 0 0;
}

.course .overlay {
  border-radius: 16px;
}

img {
  object-fit: cover !important;
  border-radius: 16px;
}

.last-content {
  margin-bottom: 100px;
}

.scroll-to-top img {
  width: 30px;
  height: 30px;
}

#choose .box {
  border-radius: 24px;
}

.schedule-plus,
.choose-plus,
.detail-plus {
  width: 81px;
  height: 88px;
}

@media only screen and (max-width: 768px) {
  table tr td:first-child {
    font-weight: 900 !important;
  }

  .testimonial img {
    width: 70%;
    margin: 0 auto;
  }

  .course-details .container .elipse {
    display: none;
  }

  #courses form .d-flex {
    flex-direction: column;
  }

  #courses form .d-flex .mx-2 {
    margin-right: unset !important;
    margin-left: unset !important;
    margin-top: 1.5rem;
  }

  #courses form .w-50,
  #courses form .btn {
    width: 100% !important;
  }
}

.btn {
  position: relative;
  z-index: 99;
}

/* Work Experience */

.eligibility {
  background: #f7f9fe;
  margin: 100px 0;
  position: relative;
}

.eligibility .container {
  padding: 113px 0;
  position: relative;
}

.eligibility p {
  font-size: 20px;
  font-weight: 700;
  line-height: 42px;
  color: #05274c;
}

.eligibility img:first-child,
.eligibility img:nth-child(2),
.eligibility img:last-child {
  position: absolute;
}

.eligibility img:first-child {
  bottom: 0;
  left: 0;
}

.eligibility img:last-child {
  top: 0;
  right: 0;
}

.eligibility .container .ellipse {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.how-it-works {
  background: #f9fdff;
  color: #363636;
  padding: 64px 0 152px;
  margin-top: 100px;
}

.how-it-works .box-container {
  display: grid;
  grid-template-columns: 1.5fr 3fr 2fr;
  gap: 16px;
}

.how-it-works h4 {
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
}

.how-it-works p {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.how-it-works div {
  border-radius: 32px;
}

.how-it-works .green,
.how-it-works .pink,
.how-it-works .white,
.how-it-works .butter,
.how-it-works .purple {
  padding: 32px;
}

.how-it-works .green {
  background: #e9f9ef;
}

.how-it-works .pink {
  background: #feefef;
}

.how-it-works .white {
  background: #f5f5f5;
}

.how-it-works .butter {
  background: #fef4d7;
  margin-top: 18px;
  height: 45%;
}

.how-it-works .purple {
  background: #e6eefc;
}

.note {
  color: #1a1a1a !important;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  margin-top: 32px;
}

#pricing h5 {
  color: #1a1a1a;
  font-size: 14px;
}

@media (max-width: 768px) {
  .eligibility img:first-child,
  .eligibility img:last-child {
    width: 81px;
  }

  .eligibility .container img {
    width: 200px;
  }

  .how-it-works .box-container {
    grid-template-columns: 1fr;
  }

  .how-it-works .box-container .w-50 {
    width: unset !important;
  }

  .how-it-works .box-container .h-50 {
    height: unset !important;
  }

  .how-it-works .butter {
    height: unset !important;
  }
}

/* Privacy Notice */
.privacy table {
  width: 100%;
}

.privacy table td,
.privacy table th {
  text-align: initial;
}

.privacy div a {
  text-decoration: underline;
}

.privacy strong,
.privacy h5 {
  color: #1a1a1a;
}

/* New */
.card-header {
  border-bottom: none !important;
}