 .bg-pink {
    background: #F5F6FA;
 }
 
 nav {
     position: relative;
     z-index: 10;
 }
 .btn {
     border-radius: 50px;
     background: #2762bf;
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     color: #fff;
     padding: 8px 24px;
     width: 216px;
 }

 a {
    text-decoration: none;
 }

 .btn:hover {
     border: 1px solid #3375d9;
     color: #2762bf !important;
     background: transparent !important;
 }

 .btn-trans {
     border: 1px solid #3375d9;
     color: #2762bf;
     background: transparent !important;
 }

 .btn-trans:hover {
     background: #2762bf !important;
     color: #fff !important;
 }

 .title h2 {
     font-size: 36px;
     font-weight: 700;
     line-height: 54px;
     color: #1a1a1a;
 }

 .title p {
     margin: 16px;
 }

 #navbar .btn,
 .modal-footer .btn {
     all: unset;
     height: 8px;
     padding: 8px 32px;
     border-radius: 50px;
     border: 1px solid #2762bf;
     background: #2762bf;
     color: #fff;
 }

 #navbar .btn-trans {
     background: transparent !important;
     color: #2762bf;
 }

 #navbar .btn-trans:hover {
     background: #2762bf !important;
     color: #fff !important;
 }

 #navbar {
     background: #e9f2ff;
     box-shadow: 0px 1px 2px 0px #0000000d;
     font-weight: 500;
 }

 .nav-item .active {
     color: #0063f7 !important;
 }

 #navbar .nav-link:hover,
 #navbar .dropdown-menu a:hover {
     background: unset !important;
     color: #0063f7 !important;
 }

 #navbar .nav-item {
     color: #1a1a1a;
     margin: auto;
 }

 #navbar a {
     padding-right: 8px;
 }

 #navbar .dropdown-menu {
     padding: 12px;
     border: none !important;
     border-radius: 8px;
     box-shadow: 0px 10px 38px -5px #0000001a;
     background: #fff;
     color: #3e3e3e;
     font-weight: 400;
     line-height: 27px;
     letter-spacing: 0em;
 }

 #navbar .refer {
     padding-right: 10px;
     position: relative;
 }

 #navbar .refer a {
     background-image: linear-gradient(90deg, #2f2c9f 0%, #b745ca 100%) !important;
     /* Adjust colors as needed */
     -webkit-background-clip: text;
     /* For Safari */
     background-clip: text;
     color: transparent;
 }

 #navbar .refer img {
     position: absolute;
     right: 0;
     top: 10px;
 }

 #navbar .border-left {
     border-left: 1px solid #dddee0;
     margin-left: 12px;
 }

 .navbar-toggler:focus {
     box-shadow: none;
 }

 .modal-content {
     padding: 18px 20px !important;
     border-radius: 16px;
     border: 1px;
 }

 .modal-header {
     border-bottom: none !important;
     padding: unset;
     padding: 0 20px;
 }

 .modal-header h4 {
     font-weight: 600;
     line-height: 36px;
     color: #1a1a1a;
 }

 .modal-footer {
     all: unset;
 }

 .modal-footer .btn {
     height: 25px;
     width: 80%;
 }

 .form-control:focus {
     border-color: none;
     box-shadow: unset;
 }

 #myModal textarea {
     height: 113px;
     resize: none;
 }


 #footer {
     background: #05274c;
     color: #fff;
     font-size: 17px;
     font-weight: 400;
     line-height: 27px;
 }

 #footer .border-tb {
     border-top: 1px solid #586e87;
     border-bottom: 1px solid #586e87;
     padding: 32px 0;
 }

 #footer .mb-8 {
     margin-bottom: 52px;
 }

 #footer .social-icon a {
     all: unset;
 }

 #footer h5 {
     font-size: 20px;
     font-weight: 700;
 }
 
 /* REFERRAL */
img {
    border-radius: unset !important;
}
 input:focus {
     outline: none;
 }

 .referralbox {
     width: 650px;
     height: 477px;
     border: 1px;
     box-shadow: 0px 3px 10px 0px #0000001A;
     display: flex;
     flex-direction: row;
     margin-top: 82px;
     border-radius: 20px;
     margin-bottom: 20%;
 }

 .referbox {
     display: flex;
     flex-direction: column;
     width: 339px;
     height: 220px;
     margin-top: 77px;
     margin-left: 140.5px;
     gap: 16px;
     align-items: center;
 }

 .tick-box {
     width: 100px;
     height: 100px;

 }

 /* .referralbox  > :first-child img{
  width: 75px;
  height: 75px;
  margin-top: 12.5px;
  margin-left: 12.5px;
} */
 .referralbox :nth-child(2) {
     display: flex;
     flex-direction: column;
     gap: 8px;
     align-items: center;
 }

 .verify-email :nth-child(1) {
     line-height: 42px;
     color: #1A1A1A;
     font-size: 28px;
     font-weight: 800;
 }

 .verify-email :nth-child(2) {
     font-size: 18px;
     font-weight: 500;
     text-align: center;
     line-height: 27px;
     color: #67676A;
 }

 .referralbox button {
     width: 90%;
     height: 48px;
     border-radius: 50px;
     background-color: #2762BF;
     gap: 8px;
     border: 0;
     color: white;
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     margin-top: 20px;
     align-content: center;
     place-content: center;
     /* place-self: center; */

 }

 /* REQUEST SUBMISSION PAGE */

 .request-container {
     width: 100%;
     place-items: center;
     display: flex;
     flex-direction: column;
     margin-top: 77px;
     gap: 16px;
     text-align: center;
 }

 .request-box :nth-child(1) {
     line-height: 42px;
     color: #1A1A1A;
     font-size: 25px;
     font-weight: 800;

 }

 .request-container {
     display: flex;
     flex-direction: column;
     gap: 10px !important;
 }



 /* SIGNUP ANDD LOGIN  */

 .signup-page {
    overflow: hidden;
 }

 .signup-page .form-container {
     width: 476px;

     margin-left: 130px;
     display: flex;
     flex-direction: column;
     gap: 32px;
     margin-top: 69px;


 }

 .signup-page .row .form-container h6 {
     max-width: 269px;
     font-size: 24px;
     font-weight: 700;
     line-height: 36px;
     align-self: center;
     color: #363636;
 }

 .signup-form {
     width: 476px;
     gap: 16px;

 }

 .signup-form figure {
     height: 80px;
     display: flex;
     flex-direction: column;
     gap: 8px;
 }

 .signup-form figure label {
     color: #363636;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
 }

 .signup-form figure input {
     height: 48px;
 }

 .signup-form figure button {
     font-weight: 500;
     line-height: 24px;
     font-size: 16px;

 }

 .signup-form .checkbox p {
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
 }

 .signup-form .checkbox p a {
     text-decoration: none;
 }

 .verify-container {
     width: 620px;
     height: 477px;
     border: 1px;
     box-shadow: 0px 3px 10px 0px #0000001A;
     display: flex;
     flex-direction: row;
     margin-top: 82px;
     border-radius: 20px;
     margin-bottom: 20%;

 }

 .verify-box {
     width: 466px;
     height: 354px;
     margin-left: 70.5px;
     align-items: flex-start;
 }

 .verify-box button {
     height: 48px;
     border-radius: 50px;
     background-color: #2762BF;
     gap: 8px;
     border: 0;
     color: white;
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     margin-top: 20px;
     align-content: center;
     place-content: center;
     place-self: center;
     width: 90%;
 }

 .verify-box h6 {
     font-size: 27px;
     font-weight: 800;
     color: #1A1A1A;
     line-height: 27px;
     place-self: flex-start;
 }

 .verify-box p {
     font-weight: 500;
     color: #67676A;
     place-self: center;

 }

 .input-container {
     width: 466px;
     height: 500px;
     gap: 2px;
 }

 .otp-input {
     border: 1px solid rgb(181, 179, 179);
     width: 70px;
     height: 48px;
     border-radius: 8px;
     margin-top: 10px;
     text-align: center;
 }

 .forgot-password {
     place-content: flex-end;
 }

 .nav {
     height: 101px;
     background: #E9F2FF;
     width: 100vw;
 }

 .fg-password-input,
.password-input-container :nth-child(2) {
    height: 48px;
     border-radius: 8px;
     border: 1px solid #DDDEE0;

 }

 .reset-password-input {
     height: 48px;
     border-radius: 8px;
     border: 0.1;
     border-color: #DDDEE0;
     position: relative;
 }

 .lock-icon {
     position: absolute;
     z-index: 1;
     margin-top: 11.4em;
     margin-left: 20px;


 }

 .template-rec {
     background-color: #05274C;
     width: 100%;
     height: 15.54px;
 }

 .email-bar {
     width: 85%;
     margin-top: 55.06px;
     margin-left: 40.4px;
 }

 .email-bar img {
     width: 93.91px;
     height: 66.23px;
 }

 .email-bar div {
     flex-direction: column;
     height: 51.01px;
     width: 208px;
     place-items: center;
 }

 .email-bar div a {
     text-decoration: none;
     font-weight: 500;
     font-size: 15.03px;
     line-height: 22.54px;
     color: #05274C;
 }

 .email-content {
     width: 83%;
     margin-top: 165.34px;
     gap: 10.02px;
     margin-left: 40.4px;
 }

 .email-content h5 {
     font-weight: 700;
     font-size: 28px;
     line-height: 42.08px;
     color: #000;
 }
 .email-content h5 span {
     font-weight: 700;
     font-size: 28px;
     line-height: 42.08px;
     color: #27575D;
 }

 .email-btn {
     text-decoration: none;
     color: white;
     width: 364.7px;
     align-self: center;
     margin-left: auto;
     height: 48px;
     padding: 159.31px, 32.06px, 159.31px, 32.06px;
 }

 .email-close {
     font-size: 20.04px;
     line-height: 30.06px;
     color: #363636;
     margin-top: 50px;
     margin-left: 40.4px;
 }

 /* 
.footer {
  margin-top: 100px;
} */






 @media (min-width :780px) and (max-width: 1199px) {
     .signup-page .form-container {
         width: 50vw;
         height: fit-content;
         margin-left: 3%;
     }

     .signup-form figure {
         width: 40vw;
     }

     .signup-page .row .form-container h6 {
         align-self: left;

     }

     .instructions-img {
         width: 50vw;
         height: 100%;
     }

     .footer {
         margin-top: 0;
     }
 }



 @media (max-width :1024px) {
     .referralbox {
         width: 95%;
     }

     .referralbox> :first-child {
         width: 90%;
         margin-left: auto;
         margin-right: auto;
     }

     .referralsignup button {
         width: 95%;
     }

     .signup-page .row .form-container h6 {
         width: 60vw;
     }
 }

 .email-alert {
     background-color: #2762BF;
     border-radius: 10px;
     width: 450px;
     height: 60px;
     place-self: center;
     /* align-self: center;    */

 }

 @media (max-width : 1020px) {
     .signup-page .row {
         display: flex;
         flex-direction: column;
     }

     .instructions-img {
         width: 100vw;
     }

     .signup-page .row .form-container {
         margin-left: 10%;
         margin-right: 10%;
     }

     /* .signup-page .row .form-container  figure{
        background-color: green;
        width: 100%;
  } */

     .signup-form {
         width: 90vw;
         margin-left: 0;
     }

     .signup-page .row .form-container h6 {
         width: 90vw;
         margin-left: 0;

     }
 }


 @media (max-width :768px) {
     .verify-box h6 {
         font-size: 23px;

     }

     .verify-email .mail-text {
         font-size: 17px;
     }

     .referralbox button {
         width: 80% !important;
     }

     .verify-box buttton {
         width: 80%;
     }

     .email-btn {
         margin-left: 2px;
         width: 80%;
     }

     .email-bar {
         margin-left: 5%;
         width: 100%;
     }

     .email-bar img {
         width: 85px;
         height: 55px;
     }

     .verify-box {
         margin-left: 30px;
         width: 80vw;
     }

     .otp-input {
         width: 14%;

     }

     .signup-page .row {
         display: flex;
         flex-direction: column;
     }

     .signup-page .row .form-container {
         width: 90%;
         margin: auto;
     }

     .signup-form {
         width: 90vw;
         margin-left: 0;
     }

     .signup-page .row .form-container h6 {
         width: 90vw;
         margin-left: 0;

     }

     .lock-icon {
         margin-top: 11.8em;
     }



     .email-alert {
         width: 80vw;
     }

     .instructions-img {
         width: 100%;
     }

 }


 @media (max-width: 400px) {

    .signup-form .d-flex {
        flex-direction: column !important;
        gap: unset !important;;
    }

        .signup-form .d-flex .w-50 {
            width: 100% !important;
        } 

     .verify-email .mail-text {
         font-size: 15px !important;

     }

     .verify-box .text-code {
         align-items: self-start !important;
         font-size: 14px !important;
          place-self: center ;
     }

     .verify-box button {
         font-size: 12px;
         line-height: 20px;
         letter-spacing: 0.3px;
     }

     .request-box h6 {
         font-size: 20px !important;
         line-height: 35px !important;
     }

     .congrats-container {
         width: 80vw !important;
     }

     .tie-container {
         height: 700px;
     }

     .tie-container .button-container {
         margin-top: 70px !important;
     }

 }




 /* REFERRAL WALLET */



 .nav {
     width: 100%;
     background-color: #fff;
     height: 88px;
 }

 .searchicon {
     position: absolute;
     z-index: 1;
 }

 .searchbar {
     width: 343px;
     height: 50px;
     border-radius: 32px;
     gap: 10px;
     padding: 14px;
     background-color: #F7F9FE;
     border: 2px solid #EEEEEF;
     position: relative;
 }

 .notification-bar {
     width: 227px;
 }

 .notification-bar> :first-child {
     width: 22px;
     height: 22px;
     margin-top: 6px;
 }

 .notification-bar :nth-child(2) {
     width: 40px;
     height: 40px;
 }

 .notification-bar :nth-child(3) {
     font-weight: 600;
     font-size: 14px;
     line-height: 21px;
     color: #363636;
     margin-top: 6px;
 }

 .notification-bar :nth-child(4) {
     width: 24px;
     height: 24px;
     margin-top: 5px;
 }

 .sidebar {
     width: 254px;
     height: 990px;
     display: flex;
     flex-direction: column;
     gap: 27px;
     position: static;
     border-radius: 0px, 16px, 16px, 0px;
 }

 .sidebar ul :nth-child(3) {
     background: #E9F2FF;
     border-right: 6PX SOLID #2762BF;
     margin-left: 10%;
     border-radius: 2px;
     width: 90%;
     padding-left: 10%;
 }

 .sidebar li {
     list-style-type: none;
     width: 100%;
     line-height: 27px;
     font-size: 18px;
     font-weight: 600;
     color: #808185;
     text-align: left;
     padding-left: 20%;
     color: #67676A;
 }

 .bi-list:hover {
     border: 1px solid #2762BF80;

 }


 main .flex-column .figures {
     background-color: white;
 }

 main .flex-column .figures h5 {
     font-size: 32px;
     font-weight: 700;
     line-height: 54px;
     color: #1A1A1A;

 }

 main .flex-column .main-content> :first-child {
     background: #E9F2FF;
     width: 90%;
     height: 268px;
     border: 1px solid #EEEEEF;
     border-radius: 16px;

 }

 .main-content figure div {
     gap: 16px;
 }

 .referafriend {
     width: 368px;
 }

 .main-content figure div h6 {
     color: #363636;
     font-weight: 700;
     font-size: 20px;
     line-height: 20px;

 }

 .main-content figure div p {
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #67676A;
 }

 label {
     color: #67676A;
     font-weight: 400;
     font-size: 15px;
     line-height: 22.5px;
 }

 .link-container input {
     display: flex;
     border-radius: 8px;
     border: 1px solid #EEEEEF;
     height: 40px;
     width: 260px;
     position: relative;
 }

 .link-container button {
     width: 78px;
     height: 32px;
     border-radius: 4px;
     padding: 159px, 32px, 159px, 32px;
     background: #2762BF;
     border: none;
     color: white;
     font-size: 12px;
     line-height: 18px;
     position: absolute;
     align-self: center;
     margin-left: 275px;
 }

.disabled {
    background: #2762BF80 !important;
 }

 .myreferrals>:first-child {
     width: 90%;
     padding-left: 0;
 }

 .myreferrals>:first-child h6 {
     font-size: 20px;
     line-height: 30px;
     font-weight: 600;
     color: #363636;
 }

 .myreferrals>:first-child div>:first-child {
     background-color: #E6EEFC;
     color: #363636;
     border-radius: 8px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     width: 200px;
     height: 48px;
 }

 .myreferrals>:first-child div button span {
     font-weight: 700;
     color: #2762BF;
 }

 .myreferrals>:first-child div :nth-child(2) {
     background-color: #2762BF;
     border-radius: 50px;
     color: white;
     gap: 8px;
     width: 124px;
     height: 48px;
     border: none;
 }

 .empty-container {
     height: 384px;
     margin-left: 4%;
     margin-right: 4%;
     padding-left: 10px;
     padding-right: 10px;

 }

 .table-container {
     margin-left: 4%;
     margin-right: 4%;
     padding-left: 10px;
     padding-right: 10px;
 }

 .table-container .table tr {
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #363636;
 }

 .status-data {
     border-radius: 30px;
     width: 58px;
     gap: 10px;
     color: #05A660;
     line-height: 21px;
     font-size: 14px;
     font-weight: 500;
     padding: 4px, 12px, 4px, 12px;
     background-color: #E9F9EF;
 }

 .status-data2 {
     border-radius: 30px;
     width: 75px;
     gap: 10px;
     color: #F96060;
     line-height: 21px;
     font-size: 14px;
     font-weight: 500;
     padding: 4px, 12px, 4px, 12px;
     background-color: #FEEFEF;
 }

 .pagination {
     display: flex;
     width: 362px;
     height: 50px;
     gap: 24px;
     align-items: center;
     text-align: center;

 }

 .pagination p {
     font-weight: 400;
     font-size: 16px;
     color: #CDCDD0;
     margin-top:
         5%;
     line-height: 24px;
 }

 .pagination .blue-circle {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: #2762BF;
     color: white;
     display: flex;
     align-items: center;
     place-content: center;
 }

 .pagination .inactive {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: #E6EEFCFC;
     border: 1px solid #EEEEEF;
     color: black;
     display: flex;
     align-items: center;
     justify-content: center
 }

 .pagination figure {
     height: 24px;
     display: flex;


 }

 .pagination figure p {
     text-align: end;
 }

 .pagination figure img {
     cursor: pointer;
     margin-top: 5px;
 }


 @media (max-width:1000px) {
     .sidebar {
         position: absolute;
         z-index: 1;
         width: 70vw;

     }
 }

 @media (max-width :768px) {
     .nav a img {
         width: 50px;
     }

     .searchbar {
         width: 50vw;
         height: 40px;
         margin-left: 5%;


     }

     .gen-container {
         width: 95vw;
         margin-left: 2px;
     }

     .referafriend {
         width: 45%;
     }

     main .flex-column .main-content> :first-child {
         height: max-content;
     }
 }

 @media (max-width :700px) {
     main .blue-container {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .referafriend {
         width: 90%;

     }

     .link-container button {
         width: 60px;
         margin-left: 220px;
     }

     .link-container input {
         width: 180px;
     }

     .myreferrals>:first-child {
         display: flex;
         flex-direction: column;
         gap: 14px;
     }

     .myreferrals>:first-child .refer-btns {
         display: flex;
         flex-direction: column;
     }

     .main-content img {
         width: 30%;
     }

     .main-content figure div p {
         font-size: 13.5px;
     }


     .table-container {
         margin-left: 0;
         margin-right: 0;

     }

     main .flex-column .figures {
         width: 93vw;
     }

     .pagination {
         display: none;
     }

     .table-container {
         max-width: 100vw;
     }

     .table th {
         font-size: 14px;

     }




     @media only screen and (max-width:760px) {
         .searchbar {
             width: 40vw;
         }

         .notification-bar :nth-child(2) {
             width: 30px;
             height: 30px;
         }

         .notification-bar {
             width: 110px;

         }

         /* table-container{
        padding-left:0;
        padding-right: 0;
  } */

         .table-container table th {
             word-wrap: break-word;
             overflow-wrap: break-word;
         }

         .table-container table td {
             font-size: 14px;
         }

     }
 }

 @media (max-width :400px) {

     .gen-container {
         margin-left: 0;
     }

     .table-container table th {
         font-size: 11px;
         font-weight: 800;
     }

     .table-container table td {
         font-size: 12px;

     }

     .status-data2 {
         width: 65px;
     }

     .searchbar {
         width: 35vw;
     }

     .link-container button {
         margin-left: 195px;
     }


 }



 /* QUESTION FORM PAGE */


 .step {
     display: none;
 }

 .step.active-form {
     display: flex;
 }

 .question-container {
     display: flex;
     flex-direction: column;
     width: 813px;
     height: 1294px;
     margin-top: 112px;
     gap: 48px;
 }

 .question-box {
     width: 100%;
     height: 339px;
     border: 1px solid #CDCDD0;
     border-radius: 24px;
     box-shadow: 0px 3px 15px 0px #0000000D;

 }

 .question-box>:first-child {
     height: 255px;
     display: flex;
     flex-direction: column;
     gap: 36px;

 }

 .question-box div h6 {
     width: 537px;
     font-weight: 700;
     font-size: 22px;
     line-height: 33px;
     color: #05274C;
     text-align: center;
 }

 .question-box div h4 {
     font-size: 25px;
     width: 537px;
     line-height: 42px;
     text-align: center;
     font-weight: 700;
     color: #05274C;


 }

 .question-box div figure {
     width: 565px;
     height: 86px;
     display: flex;
     place-items: center;
     /* -content: space-between; */
     gap: 40px;
     margin-top: 10px;

 }

 .radio {
     font-size: 20px;
     line-height: 30px;
     color: #363636;
     vertical-align: middle;
     display: inline-block;
     font-weight: 500;
     gap: 24px;
     text-align: center;
     position: relative;
     cursor: pointer;
     place-items: center;
 }

 .radio+.radio {
     margin-left: 20px;

 }

 .radio input[type="radio"] {
     display: none;
 }

 .radio span {
     height: 32px;
     width: 32px;
     border-radius: 50%;
     border: 1px solid #808185;
     position: absolute;
 }

 .radio p {
     margin-top: 48px;
 }

 .radio span:after {
     content: "";
     height: 25px;
     width: 25px;
     background-color: #367CE4;
     display: block;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%) scale(0);
     border-radius: 50%;
     cursor: pointer;
 }

 .radio input[type="radio"]:checked~span:after {
     transform: translate(-50%, -50%) scale(1);
     cursor: pointer;


 }


 .question-container .container-box {
     display: flex;
     flex-direction: column;
     gap: 80px;
     width: 100%;
     height: 163px;
 }

 .question-container .container-box .btn-box {
     display: flex;
     justify-content: space-between;
 }

 .question-container .container-box button {
     width: 385px;
     height: 48px;
     text-align: center;
 }



 .load-container {
     display: flex;
     width: 800px;
     gap: 16px;
 }

 .load-container .load {
     display: flex;
     flex-direction: column;
     height: 35px;
     width: 120px;
     gap: 4px;
 }

 .load-container .active div {
     background-color: #367CE4;
     width: 120px;
     height: 10px;
     border-radius: 16px;
 }

 .load-container p {
     text-align: center;
     font-size: 14px;
     line-height: 21px;
     color: #363636;

 }

 .load-container .inactive div {
     width: 120px;
     height: 10px;
     border-radius: 16px;
     background-color: #E6EEFC;

 }



 @media (max-width:769px) {
    .privacy ol {
            display: none;
        }
    
        .privacy .content {
            width: 100%;
            padding-left: 5px;
        }
     .question-container {
         width: 90vw;
         margin-left: 0;
     }

     .question-box {
         width: 90vw;
         margin-left: 0;
     }

     .question-container .container-box a button {
         width: 100px;
         place-self: center;
         align-self: center;
     }

     .load-container {
         width: 90vw;
     }

     .load-container .active div {
         width: 12vw;
     }

     .load-container .inactive div {
         width: 12vw;
     }

     .question-container figure {
         max-width: 90vw;
         padding-left: 9px;
         align-items: center;

     }

     .radio {
         vertical-align: middle;
     }

     .radio p {
         word-wrap: break-word;
         overflow-wrap: break-word;
         max-width: 60px;
         line-height: 15px;
         font-size: 12px;
         white-space: pre-line;

     }

     .radio span {
         width: 20px;
         height: 20px;
         position: absolute;

     }

     .question-box div h4 {
         width: 80vw;
         line-height: 27px;
         font-size: 20px;
     }
 }

 .page-header {
     height: 320px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #e9f2ff !important;
     position: relative;
     z-index: 2;
     text-align: center;
 }

 .page-header h1 {
     color: #05274c;
     font-size: 48px;
     font-weight: 700;
     line-height: 72px;
 }

 .privacy .content h6 {
     font-size: 20px;
     font-weight: 500;
     line-height: 30px;
 }

 .privacy .content p {
     font-size: 18px;
     font-weight: 400;
     line-height: 27px;
 }

 .privacy .content .font-bold {
     font-weight: 500;
 }

 .privacy ol li {
     margin: 12px 0;
 }

 .privacy ol li a {
     font-size: 16px !important;
     font-weight: 600;
     line-height: 24px;
     color: #abacb1;
     text-decoration: none;
 }

 .privacy ol li.active,
 .privacy ol li a.active {
     color: #05274c !important;
 }

  .eye-icon {
        top: 20px;
            right: 10px;
            cursor: pointer;
  }

   #emailAddress {
       border: 1px solid rgb(201, 201, 201);
   }

   #errMsg {
       display: none;
       font-size: 14px;
       color: #F96060;
       margin-bottom: 2%;
       line-height: 21px;
   }

   .error {
       border: 1px solid #F96060 !important;
   }