#hero-sec {
    padding: 27px 0;
}

.heading h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #67676A;
}

.heading p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #67676A;
}

.box {
    background: #FFFFFF;
    border: 1px solid #EEEEEF;
    padding: 30px;
    border-radius: 24px;
}

.feature-card {
    background: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0px 5px 10px 5px #1415150D;
    margin-bottom: 15px;
    color: #000;
}

.feature-title {
    font-weight: 500;
    margin: 8px 0;
    font-size: 16px;
}

.feature-description {
    font-weight: 300;
}

.custom-image {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
}

.decorative-dots {
    text-align: center;
    margin-top: 10px;
    color: #aaa;
}

.deco {
    position: absolute;
    right: 0;
    top: -60px;
}

.py {
    padding: 100px 0;
}

.bg-lights {
    background: #F9FDFF;
}

/* Client Section Styling */
#company {
    padding: 30px 0;
}

.client-section {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logos-wrapper {
    display: inline-flex;
    animation: scrollLeft 15s linear infinite;
}

.logo {
    flex-shrink: 0;
    display: inline-block;
    margin: 0;
}

.logo img {
    max-height: 100px;
    object-fit: contain;
    margin: 0 30px;
}

/* Keyframes for Scrolling Effect */
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.video-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 26.89px 53.78px -12.91px #0053D033;
}

.video-container img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

.video-container:hover {
    transform: scale(1.05);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3375D980;
    ;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-button::before {
    content: url('images/play.svg');
    color: white;
    font-size: 24px;
}

#process {
    background: #3375D9;
    color: #fff;
}

#process .btn {
    background: #fff;
    color: #1A2145;
}
#process .btn:hover {
    color: #fff !important;
    border-color: #fff;
}
#process .btn-trans {
    border-color: #fff;
    color: #fff;
}

.box{
    background: white;
    border-radius: 20px;
    padding: 34px 16px;
    box-shadow: 0px 4px 10px 5px #00000040;
    color: #1A2145;
        font-size: 16px;
        line-height: 24px;
}

.step-number {
    color: #000;
    background: #3375D912;;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        padding: 6.5px 10px;
}

.step-title {
    font-weight: 700;
}

  .subscription-box {
      max-width: 875px;
    background: linear-gradient(90deg, #ABCCFF 32.01%, #677A99 100%);
      padding: 38px 42px;
      border-radius: 10px;
box-shadow: 0px 4px 4px 0px #00000040; 
color: #05274C;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
 }

  h4 {
        font-weight: 700;
        font-size: 36px;
        line-height: 43.56px;
  }

  p {
        font-size: 18px;
        line-height: 24px;
  }

  input {
      width: 100%;
      padding: 10px;
      height: 40px !important;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      color: #707070;
  }

  .input-group {
      margin-bottom: 10px;
  }

  .subscribe-button {
     
    background: linear-gradient(93.9deg, #FFFFFF 6.62%, #F8FBFF 93.62%);
      color: #1A2145;
  }

  .subscribe-button:hover {
      background-color: #E5E7EB !important;
  }

  .mb-30{
    margin-bottom: 200px;
  } 

  footer {
    padding-top: 150px !important;
  }
          .stars {
              height: 200px;
          }

  @media (max-width: 600px) {
    .mb-30 {
            margin-bottom:0;
        }
    .stars {
        height: 200px;
    }

          .subscription-box {
            position: unset;
            max-width: 100%;
            transform: unset ;
          }
  }

  #testimonial .pattern1 {
      top: 180px;
      border-radius: unset;
  }

  #testimonial .pattern2 {
      right: 60px;
      bottom: 15px;
      border-radius: unset;
  }